<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Todo App</title>
        <link rel="stylesheet" href="/styles/todo.css" type="text/css">
    </head>
    <body>
        <main>
            <section>
                <form class="todo-add" action="index.html" method="post">
                    <input type="text" name="item" placeholder="Add new item..." required>
                    <button type="submit"></button>
                </form>
                <ul>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                </ul>
            </section>
        </main>
    </body>
</html>
